body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}
.container {
  background: white;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}
input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
button {
  background: green;
  width:100%;
  color: white;
  border: none;
  cursor: pointer;
}
.served {
  background-color: lightgray;
  text-decoration: line-through;
}

.logout-btn {
  border: 2px solid #ff0000; /* 2px thick, red color */
  border-radius: 6px;        /* Rounded corners */
  padding: 10px 20px;        /* Button size */
  background-color: white;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #ff0000;
  color: white;
}

.queue-item {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 16px;
  list-style: none;
}

.serving-badge {
  color: #d97706;
  font-weight: bold;
  margin-left: 10px;
}

.queue-item button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}