body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0d0d0d;
  color: white;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #111;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.05);
}

button {
  background: linear-gradient(to right, #b48a33, #5c3c00);
  border: none;
  color: white;
  font-weight: bold;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #cc9f3b, #704e00);
}

h2, h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

input, select {
  width: 100%;
  padding: 14px;
  border: none;
  margin-top: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #222;
  color: white;
}

input:focus, select:focus {
  outline: none;
  border: 2px solid #b48a33;
}

#paymentAmount {
  color: #ccc;
  margin: 10px 0;
}

#queueList {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

#queueList li {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 0;
}

.serving {
  color: ffd700 ;
  font-weight: bold;
  text-transform: uppercase;
}

.waiting {
  color: white;
  text-transform: lowercase;
}
