body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  background:url('https://static.vecteezy.com/system/resources/previews/025/372/434/large_2x/barbershop-seamless-pattern-black-on-white-repeating-pattern-print-for-men-s-barber-shop-a-set-of-accessories-for-men-s-hairdresser-on-white-background-vector.jpg');
  padding: 20px;
}
.container {
  background: white;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}
input, select, button {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
button {
  background: green;
  width:100%;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
}
.served {
  background-color: lightgray;
  text-decoration: line-through;
}

.logout-btn {
  border: 2px solid #ff0000; /* 2px thick, red color */
  border-radius: 6px;        /* Rounded corners */
  padding: 10px 20px;        /* Button size */
  background-color: white;
  color: #ff0000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #ff0000;
  color: white;
}

.queue-item {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 16px;
  list-style: none;
}

.serving-badge {
  color: #d97706;
  font-weight: bold;
  margin-left: 10px;
}

.queue-item button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

.container-one {
  width: 100%;
  height: 100vh; /* Full viewport height */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}